name: PWA Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./papersaver-app # Tell the runner to cd into the app directory

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"
          cache-dependency-path: "./papersaver-app/package-lock.json"

      - name: Install Dependencies
        run: npm ci

      - name: Build Next.js
        run: npm run build
